@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

body{
    color: #3C2313;
}

.secIdioma{
    background-color:#222222;
    color: white;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding: 4px 60px 4px 60px;
}

.secH1{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.divLogo{
    display: flex;
}

.imgIlustracionCatDog{
    position: relative;
    top: 5px;
}

h1{
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li{
    color: white;
    font-size: 13px;
    display: flex;
    margin: 0px 10px 0px 0px;
}

.secBanner{
    background-image: url(/PETSHOPFLEX/img/banner.png);
    background-size: cover;
    height: 409px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.divTextoBanner{
    margin: 0px 20px 0px 0px;
    width: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pBanner{
    background-color: white;
    font-size: 30px;
    border-radius: 6px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
}

.spanBanner{
    background-color: #F0A83E;
    color: white;
    border-radius: 5px;
    padding: 8px;
    width: 120px;
    margin: 5px 0px 0px 0px;
}

.secDestacados{
    text-align: center;
}

h2{
    font-size: 40px;
}

.divComAccCom{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.pEspaciadoComAccCom{
    margin: 20px 5px 40px 5px;
}

.secArticulos{
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 60px 0px;
}

.pPrecio{
    color: #F0A83E;
}

.articulo1{
    background-image: url(/PETSHOPFLEX/img/churrasquito.png);
    width: 265px;
    height: 312px;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 0px 10px 0px;
}

.articulo2{
    background-image: url(/PETSHOPFLEX/img/comedero.png);
    width: 265px;
    height: 312px;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 0px 10px 0px;
}

.articulo3{
    background-image: url(/PETSHOPFLEX/img/Huesito.png);
    width: 265px;
    height: 312px;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    padding: 0px 0px 10px 0px;
}

.secContactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0px 10px 0px;
}

.pIngresarDatos1{
    background-color: #3C2313;
    font-size: 9px;
    text-align: left;
    color: white;
    width: 340px;
    border-radius: 10px;
    padding: 14px;
    margin: 5px 0px;
}