* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.fondoVerde{
    background-color: #1CD1B0;
    font-size: 18px;
    padding: 10px;
}

h1{
    position: relative;
    background-color: #00669F;
    padding: 30px;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    margin-bottom: 160px;
}

.seccionMain{
    text-align: center;
}

article{
    position: relative;
    background-color: #F3F3F3;
    width: 300px;
    text-align: center;
    border-radius: 16px 16px 0px 0px;
    display: inline-block;
    margin: 14px 14px;
}

.posicionCorazon1{
    position: absolute;
    left: 15px;
    top: 15px;
}

.bannerHeroes{
    border-radius: 16px 16px 0px 0px;
}

.fotosHeroes{
    position:relative;
    border-radius: 59px 60px 59px 60px;
    bottom: 64px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}

h2{
    position: relative;
    margin-top: -50px;
    
}

.pArticulos{
    position: relative;
    text-align: left;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.verMas{
    position: relative;
    background-color: #00669F;
    color: white;
    font-size: 15px;
    width: 100px;
    text-align: center;
    padding: 10px;
    right: -100px;
    bottom: 20px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
}

.pFooter{
    background-color: #00669F;
    color: white;
    padding: 20px;
    margin-top: 160px;
}