@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
    margin: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #3C2313;
}

.seccionIdiomaMoneda{
    background-color: #222222;
    color: white;
    font-size: 10px;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ulsHeaderIM{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ulsHeaderNav{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.liSeparacion{
    margin: 0px 10px;
}

.seccionNavegacion{
    background-color: #F0A83E;
    color: white;
    font-size: 13px;
    font-weight: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 31px;
}

.fondoBanner{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    height: 409px;
    text-align: center;
}

.pbanner1{
    font-size: 30px;
}

.pbanner3{
    background-color: #F0A83E;
    color: white;
}

.seccionArticulos{
    background-color: #FBFAF6;
    font-size: 13px;
    font-weight: 500;
}

.precios{
    color: #F0A83E;
}

.seccionContacto{
    background-color: #3C2313;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.pSeccionContactos{
    font-size: 10px;
}

.iconosContacto{
    font-size: 60px;
}

.seccionCreditos{
    background-color: #F0A83E;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

